aside {
    width:  300px;

    position: fixed;
    height: 100%;
    padding: 32px 24px;
    z-index: 5;

    background: #0089CE;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

aside footer a {
    margin: 15px 20px;
}