<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escolha - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/cadastro-ou-update.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">

        <header>
          <img class="animate-up" id="logo" src="/images/logo.png" alt="Logomarca desiderata"/>
        </header>

        <h1 class="animate-up" >Escolha a opção desejada</h1>

        <section class="visit">
          <a href="/cadastro-paciente" title="Cadastrar Paciente" class="primary-button animate-up">
            Cadastrar Paciente
          </a>
          <a href="/update-busca" title="Atualizar cadastro" class="primary-button animate-up">
            Atualizar cadastro
          </a>
        </section>
      </div>
    </div>
  </body>
</html>