<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/cadastro-profissional-saude.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
        <header>
          <img class="animate-up" id="logo" src="/images/logo.png" alt="Logomarca Desiderata" />
        </header>
        <main class="cadastro_prof_main animate-up">
          <h1>Cadastro do profissional da saúde</h1>
          <p>Para se cadastrar como responsável por um hospital favor entrar em contato com: 
            <span>registra@desiderata.org.br</span>
          </p>
          <a href="/" title="Retornar a página inicial" class="primary-button animate-up">
            Retornar a página inicial
          </a>
        </main>

      </div>
    </div>
  </body>
</html>