<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escolha do estado - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/cancer-br.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/aside.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
        <aside>
            <img class="animate-up" id="logo" src="images/logo.png" alt="Logomarca Desiderata" />

            <p>Escolha o estado desejado no mapa</p>
            <footer>
              <a href="/" class="voltar_2 animate-up">
					      <img class="animate-up" src="images/voltar.png" alt="Voltar" />
			    	  </a>
            </footer>
        </aside>

        <main>
          <div class="estados">
            <a href="/cancer-br" class="secondary-button">AC</a>
            <a href="/cancer-br" class="secondary-button">AL</a>
            <a href="/cancer-br" class="secondary-button">AP</a>
            <a href="/cancer-br" class="secondary-button">AM</a>
            <a href="/cancer-br" class="secondary-button">BA</a>
            <a href="/cancer-br" class="secondary-button">CE</a>
            <a href="/cancer-br" class="secondary-button">DF</a>
            <a href="/cancer-br" class="secondary-button">ES</a>
            <a href="/cancer-br" class="secondary-button">GO</a>
            <a href="/cancer-br" class="secondary-button">MA</a>
            <a href="/cancer-br" class="secondary-button">MT</a>
            <a href="/cancer-br" class="secondary-button">MS</a>
            <a href="/cancer-br" class="secondary-button">MG</a>
            <a href="/cancer-br" class="secondary-button">PA</a>
            <a href="/cancer-br" class="secondary-button">PB</a>
            <a href="/cancer-br" class="secondary-button">PE</a>
            <a href="/cancer-br" class="secondary-button">PI</a>
            <a href="/cancer-br" class="secondary-button">PR</a>
            <a href="/lista-hospitais?id=RJ" class="special-button">RJ</a>
            <a href="/cancer-br" class="secondary-button">RN</a>
            <a href="/cancer-br" class="secondary-button">RS</a>
            <a href="/cancer-br" class="secondary-button">RO</a>
            <a href="/cancer-br" class="secondary-button">RR</a>
            <a href="/cancer-br" class="secondary-button">SC</a>
            <a href="/cancer-br" class="secondary-button">SE</a>
            <a href="/cancer-br" class="secondary-button">SP</a>
            <a href="/cancer-br" class="secondary-button">TO</a>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>