<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cupom - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/cupom.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
       <header>
         <img  class="animate-up" id="logo" src="images/logo.png" alt="Logomarca Desiderata">
       </header>
       <main class="cupom_main">
         <img src="images/checkmark-icon.svg" alt="Checkmark icon">
         <p>Cupom emitido com sucesso número</p>
         <p id="numero_cupom"> {{paciente.cupom}} </p>
         <a href="/" class="primary-button">Retornar a página inicial</a>
       </main>
      </div>
    </div>
  </body>
</html>