<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Área da família - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/familia.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
        <aside class="login_aside animate-up">
            <img class="animate-up" id="logo" src="images/logo.png" alt="Logomarca Desiderata" />
            <p>Além de concorrer ao prêmio quando você emite o seu cupom com sucesso você ajuda a salvar a vida de outras crianças no Brasil</p>
        </aside>
        <main class="login_main animate-up"><p>xxxxx</p><%= sucess %>
          <form action="emite" method="POST" >
              <h1>Emissão do cupom</h1>
              <label for="codigo_emissao">Código de emissão</label>
              <input type="text" name="codigoEmissao" id="codigo_emissao" required>
              <label for="nome">Nome</label>
              <input type="text" name="name" id="nome" required>
              <button type="submit" class="primary-button">Emitir Cupom</button>
            </form>
        </main>

				<a href="/" class="voltar animate-up">
					 <img class="animate-up" src="images/voltar.png" alt="Voltar" />
				</a>
      </div>
    </div>
  </body>
</html>