<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
        <header>
          <img class="animate-up" id="logo" src="/images/logo.png" alt="Logomarca desiderata"/>
        </header>
        <main>
          <div class="animate-up">
            <h1 class="h-1">Dados</h1> 
            <h1 class="h-2">salvam</h1> 
            <h1 class="h-3">vidas</h1>
          </div>
          <section class="visit">
            <a href="/cancer-br" title="Câncer infantojuvenil no Brasil" class="primary-button animate-up">
              Câncer infantojuvenil no Brasil
            </a>
            <a href="/familia" title="Área da família" class="primary-button animate-up">
              Área da família
            </a>
            <a href="/login" title="Área do profissional da saúde" class="primary-button animate-up">
              Área do profissional da saúde
            </a>
          </section>
            
          <a href="/regulamento" title="Regulamento" class="regulamento animate-up">
            Regulamento
          </a>
        </main>
      </div>
    </div>
  </body>
</html>
