<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospitais - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/lista-hospitais.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/aside.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
        <aside>
            <img class="animate-up" id="logo" src="images/logo.png" alt="Logomarca Desiderata" />
            <p>Escolha o hospital desejado para ver os dados</p>
            <footer>
              <a href="/cancer-br" class="voltar_2 animate-up">
					      <img class="animate-up" src="images/voltar.png" alt="Voltar" />
			    	  </a>
              <a href="/" class="fechar_2 animate-up">
					      <img class="animate-up" src="images/fechar.png" alt="Fechar" />
			    	  </a>
            </footer>
        </aside>

        <main>
          
            <h1>Ranking dos hospitais do <span id="estado"> </span></h1>
            <div class="lista_hospitais">
              {{#each hospitais}}
                <div class="container_hospital">
                  <a href="/dashboard?id={{this.id}}" style="text-decoration: none; display: flex"> 
                    <div class="container_ranking">
                      <p class="ranking">{{this.ranking}}</p>
                    </div>
                    <p data-uf="{{this.UF}}" class="hospital">{{this.nome}}</p>
                  </a>
                </div>
              {{/each}}

              

            </div>
        </main>
      </div>
    </div>

      <script src="/scripts/lista-hospitais.js"></script>
  </body>
</html>