<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regulamento - Registra</title>
    <link rel="icon" href="/images/logo-icon.png" />

    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/regulamento.css" />
    <link rel="stylesheet" href="/css/animations.css" />
  </head>

  <body id="body">
    <div id="page">
      <div id="container">
        <header>
          <img class="animate-up" id="logo" src="/images/logo.png" alt="Logomarca desiderata"/>
        </header>

        <h1 class="animate-up">Regulamento</h1>
        
        <main>
          <div class="animate-up">
            <p>Todas os pacientes com cupons concorrerão aos prêmios pacientes</p>
            <p>O profissional da saúde representante do melhor hospital  classificado no raking receberá o prêmio MELHOR HOSPITAL</p> 
          </div>
      
          <a href="/" title="Retornar a página inicial" class="primary-button animate-up">
            Retornar a página inicial
          </a>
        </main>
      </div>
    </div>
  </body>
</html>